.bottom-nav {
    display: none;
} 
/* Desktop responsive */
@media (min-width: 1400px) {
    .layout {
        width: 1300px;
        margin: 0 auto;
    }

    .feed {
        width: 650px;
    }

    /* .right-sidebar {
        display: block;
    } */
}
/* Laptop responsive */
@media (max-width: 1024px) and (min-width: 1399px) {
    .layout {
        width: 1200px;
        margin: 0 auto;
    }

    .feed {
        width: 600px;
    }

    .right-sidebar {
        display: block;
    }
}
/* Tablet rsponsive */
@media (max-width: 1199px) and (min-width: 768px) {

    .right-sidebar {
        display: none;
    }

    .sidebar {
        width: 80px;
        align-items: center;
    }

    .logo img {
        height: 22px;
    }

    .category {
        justify-content: center;
        font-size: 0; /* hides text */
        padding: 12px 0;
    }

    .category i {
        font-size: 26px;
        margin: 0;
    }

    .post-btn {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: 0;
        padding: 0;
    }

    .sidebar-footer {
        display: none;
    }

    .feed {
        width: 100%;
        max-width: 600px;
        border-right: none;
    }

    .layout {
        width: 100%;
        margin: 0 auto;
        justify-content: center;
    }
}

/* Mobile responsive */
@media (max-width: 767px) {

    .sidebar {
        display: none;
    }
    
    .layout {
        width: 100%;
        margin: 0;
    }
    .feed {
        width: 100%;
        border-right: none;
    }
    .right-sidebar {
        display: none;
    }

    .bottom-nav{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 60px;
        background: white;
        border-top: 1px solid #eff3f4;
        display: flex;
        justify-content: space-around;
        align-items: center;
        z-index: 1000;
    }

    .bottom-nav i {
        font-size: 26px;
        color: black;
    }

    .main-content {
        padding-bottom: 60px;
    }
}
